.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.icon {
  color: green;
  margin-right: 8px;
  font-size: 19px;
}

ul {
  list-style: none;
  padding: 0px;
}

section.technologies,
section.skills {
  width: 100%;
  padding-left: 40px;
}

.technologies>div {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.animated-box {
  border-radius: 8px;
  /* 8 seconds duration for a slow, smooth fade cycle */
  animation: slowFadeInOut 6s ease-in-out infinite;
}

@keyframes slowFadeInOut {
  0% {
    opacity: 1;
    /* Fully visible */
  }

  50% {
    opacity: 0;
    /* Fully invisible */
  }

  100% {
    opacity: 1;
    /* Fully visible again */
  }
}